.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("https://images.wallpaperscraft.com/image/single/umbrellas_colorful_kids_96317_2048x1152.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  margin: 0;
}

.header {
  background-color: white;
  padding: 5px 10px;
  border-radius: 4px;
}

.header h1 {
  margin: 0px;
  color: #444;
}

.input {
  margin-top: 50px;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  font-size: 16px;
  color: #333;
  outline: none;
  width: 220px;
  font-size: 14px;
}

.input:hover {
  border-color: #888;
}

.input:focus {
  border-color: #007bff;
  background-color: #fff;
}

.main {
  background-color: white;
  padding: 32px;
  border-radius: 10px;
  width: 40vw;
  margin-top: 50px;
  color: #444;
}

.main h3 {
  margin: 0px 0px 25px 0px;
  text-align: center;
}

.main .content-top {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main .content-top .content-top-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.main .content-top .content-top-left img {
  width: 80px;
  height: 80px;
}

.main .content-top .content-top-left span {
  font-size: 16px;
  font-weight: 600;
}

.main .content-top .content-top-mid span {
  font-size: 32px;
  font-weight: 600;
}

.main .content-top .content-top-right {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}

.main .content-top .content-top-right p {
  margin: 0px;
}

.main .content-top .content-top-right p span {
  font-weight: 600;
}

.main .content-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.main .content-bottom .content-bottom-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.main .content-bottom .content-bottom-item span {
  font-size: 18px;
  font-weight: 600;
}

.main .content-bottom .content-bottom-item img {
  width: 50px;
  height: 50px;
}

.footer {
  margin: 50px 0px;
  background-color: white;
  padding: 5px 10px;
  border-radius: 4px;
  color: #444;
}

.footer a {
  font-weight: 600;
  color: #ff0000;
}
